{% extends 'base.html.twig' %}
{% block title %}Modifier mon profil{% endblock %}

{% block body %}
    <img src="{{ asset('img/editProfil.jpg') }}">
    <br>
    <br>
    <form method="post">
        <div class="container">
            {% for message in app.session.flashBag.get('error') %}
                <div class="message is-danger">
                    <div class="message-header">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
            <form class="box">
                <div class="columns">
                    <div class="column">
                        {{ form_start(userEditForm) }}
                        <div class="field">
                            <div class="control">
                                {{ form_row(userEditForm.prenom) }}
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                {{ form_row(userEditForm.nom) }}
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <div class="control">
                                {{ form_row(userEditForm.login) }}
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                {{ form_row(userEditForm.mail) }}
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="field is-grouped">
                    <div class="control">
                        <button type="submit" class="button is-primary is-medium">Modifier les informations</button>
                        {{ form_rest(userEditForm) }}
                        {{ form_errors(userEditForm) }}
                        {{ form_end(userEditForm) }}
                        <br>
                        <br>
                    </div>
                </div>
            </form>
        </div>
    </form>
{% endblock %}