{% extends 'base.html.twig' %}
{% block title %}Modifier mon profil{% endblock %}

{% block body %}
    <img src="{{ asset('img/editProfil.jpg') }}">
    <br>
    <br>
    <form method="post">
        <div class="container">
            {% for message in app.session.flashBag.get('error') %}
                <div class="message is-danger">
                    <div class="message-header">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
            <form class="box">
                <div class="columns">
                    <div class="column">
                        {{ form_start(userEditForm) }}
                        <div class="field">
                            <label class="label">Prénom</label>
                            <div class="control">
                                <input name="{{ field_name(userEditForm.prenom) }}" value="{{ field_value(userEditForm.prenom) }}" placeholder="Entrez votre prénom" class="input is-outlined is-warning">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Nom</label>
                            <div class="control">
                                <input name="{{ field_name(userEditForm.nom) }}" value="{{ field_value(userEditForm.nom) }}" placeholder="Entrez votre nom" class="input is-outlined is-warning">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Mot de passe</label>
                            <div class="control">
                                <input name="{{ field_name(userEditForm.password) }}" value="{{ field_value(userEditForm.password) }}" type="password" placeholder="********" class="input is-outlined is-warning" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="label">Pseudo</label>
                            <div class="control">
                                <input name="{{ field_name(userEditForm.login) }}" value="{{ field_value(userEditForm.login) }}" placeholder="Entrez votre pseudo" class="input is-outlined is-warning">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Email</label>
                            <div class="control">
                                <input name="{{ field_name(userEditForm.mail) }}" value="{{ field_value(userEditForm.mail) }}" placeholder="Entrez votre email" class="input is-outlined is-warning">
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="field is-grouped">
                    <div class="control">
                        <button type="submit" class="button is-warning is-medium">Modifier les informations</button>
                        {{ form_end(userEditForm) }}
                    </div>
                </div>
            </form>
        </div>
    </form>
{% endblock %}