{% extends 'base.html.twig' %}

{% block title %}Me connecter{% endblock %}

{% block body %}
    <img src="{{ asset('img/connexion.png') }}">
    <form method="post">
    <div class="container">
    {% if error %}
            <div class="message is-danger">
                <div class="message-header">
                    Identifiants incorrects
                </div>
            </div>
    {% endif %}
    {% if app.user %}
        <div class="mb-3">
            Vous êtes connectés en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}

            <br>
            <form class="box" style="width: 700px; left: 30%; position: sticky;">
                <div class="field">
                    <label for="inputPseudo">Pseudo : </label>
                    <div class="control">
                    <input type="text" value="{{ last_username }}" name="login" id="inputPseudo" class="input is-outlined is-primary" autocomplete="username" required autofocus>
                    </div>
                </div>
                <div class="field">
                    <label for="inputPassword">Mot de passe : </label>
                    <div class="control">
                        <input type="password" name="password" id="inputPassword" class="input is-outlined is-primary" autocomplete="current-password" required>
                        <a class="help is-danger is-underlined">Mot de passe oublié</a>
                    </div>
                </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
<br>
    <button class="button is-centered is-primary is-light is-medium" type="submit">Connexion</button>
                <br><br>
            </form>
</div>
    </form>
{% endblock %}