{% extends 'base.html.twig' %}

{% block title %}Me connecter{% endblock %}

{% block body %}
    <img src="{{ asset('img/connexion.png') }}">
    <form method="post">
    <div class="container">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connectés en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}

            <br>
            <form class="box" style="width: 700px; left: 30%; position: sticky;">
                <div class="field">
                    <label for="inputPseudo" class="label">Pseudo</label>
                    <div class="control">
                    <input type="text" value="{{ last_username }}" name="login" id="inputPseudo" class="input is-outlined is-warning" autocomplete="username" required autofocus>
                    </div>
                </div>
                <div class="field">
                    <label for="inputPassword" class="label">Mot de passe</label>
                    <div class="control">
    <input type="password" name="password" id="inputPassword" class="input is-outlined is-warning" autocomplete="current-password" required>
                        <a href="{{ path('security/forgottenPassword') }}" class="help is-danger is-underlined">Mot de passe oublié</a>
                    </div>
                </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
<br>
    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="button is-centered is-warning is-light is-medium" type="submit">Connexion</button>
            </form>
</div>
    </form>
{% endblock %}