{% extends 'base.html.twig' %}

{% block title %}Me connecter{% endblock %}

{% block body %}
    <img src="{{ asset('img/connexion.png') }}">
    <form method="post">
    <div class="container">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
        {% for message in app.session.flashBag.get('error') %}
            <div class="message is-danger">
                <div class="message-header">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
    {% if app.user %}
        <div class="mb-3">
            Vous êtes connectés en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}

            <br>
            <form class="box" style="width: 700px; left: 30%; position: sticky;">
                <div class="field">
                    <label for="inputPseudo" class="label">Pseudo</label>
                    <div class="control">
                    <input type="text" value="{{ last_username }}" name="login" id="inputPseudo" class="input is-outlined is-warning" autocomplete="username" required autofocus>
                    </div>
                </div>
                <div class="field">
                    <label for="inputPassword" class="label">Mot de passe</label>
                    <div class="control">
    <input type="password" name="password" id="inputPassword" class="input is-outlined is-warning" autocomplete="current-password" required>
                        <a href="{{ path('app_security_forgottenpassword') }}" class="help is-danger is-underlined">Mot de passe oublié</a>
                    </div>
                </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
<br>
    <button class="button is-centered is-warning is-light is-medium" type="submit">Connexion</button>
            </form>
</div>
    </form>
{% endblock %}