{% extends 'base.html.twig' %}

{% block title %}Me connecter{% endblock %}

{% block body %}
    <div class="containerLogin">
        <form method="post" class="box" style="width: 90%; max-width: 400px; background-color: rgba(255, 255, 255, 0.9); padding: 20px; border-radius: 8px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);">
            {% if error %}
                <div class="message is-danger">
                    <div class="message-body">
                        Identifiants incorrects
                    </div>
                </div>
            {% endif %}
            {% if app.user %}
                <div class="mb-3">
                    Vous êtes connecté(e) en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                </div>
            {% endif %}

            <div class="field">
                <label for="inputPseudo">Pseudo :</label>
                <div class="control">
                    <input type="text" value="{{ last_username }}" name="login" id="inputPseudo" class="input" autocomplete="username" required autofocus>
                </div>
            </div>
            <div class="field">
                <label for="inputPassword">Mot de passe :</label>
                <div class="control">
                    <input type="password" name="password" id="inputPassword" class="input" autocomplete="current-password" required>
                    <a href="{{ path('app_security_forgottenpassword') }}" class="help">Mot de passe oublié ?</a>
                </div>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <br>
            <button class="button buttonLight is-small" type="submit">Connexion</button>
            <br><br>
        </form>
    </div>
{% endblock %}
