{% extends 'base.html.twig' %}

{% block title %}Mes favoris{% endblock %}

{% block body %}
    <img src="{{ asset('img/favAnnonce.jpg') }}">
    <br>
    <br>
<div class="container is-widescreen">
    <div class="columns">
{% for favori in listFavoris %}
    <div class="column">
    <div class="card has-background-primary-light">
        <div class="card-image">
            <figure class="image is-4by3">
                {% if favori.annoncefav.images is not empty %}
                    <img src="{{ asset(favori.annoncefav.images.first.lienImage) }}" alt="Image">
                {% else %}
                    <p>Aucune image disponible pour cette annonce.</p>
                {% endif %}
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <h4>{{ favori.annoncefav.titre }} - {{ favori.annoncefav.prix }} €</h4>
                    <a href="{{ path('fav', {'id': favori.annoncefav}) }}" class="button is-text js-like">
                        {% if app.user and favori.annoncefav.isLikedByUser(app.user) %}
                        <i class="fa-solid fa-heart js-like"></i>
                        <span>&emsp;Enlever de mes favoris</span>
                        {% else %}
                        <i class="fa-regular fa-heart js_like"></i>
                        <span>&emsp;Ajouter à mes favoris</span>
                    {% endif %}
                    </a>
                    <br>
                    <br>
                    <p class="subtitle is-6"> Annonce postée par : {{ favori.utilisateurfav.login }}</p>
                </div>
            </div>
            <div class="content">
                <h5> Informations principales de l'annonce : {{ favori.annoncefav.equide.nom }} - {{ favori.annoncefav.equide.datenaiss|date("d/m/Y") }}
                    - {{ favori.annoncefav.equide.robe.libelle }} - {{ favori.annoncefav.equide.race.libelle }} </h5>
                <br>
                <a href="{{ path('app_annonce_show', {'id': favori.annoncefav.id}) }}"><button type="button" class="button is-centered is-primary">Voir l'annonce</button></a>
            </div>
        </div>
    </div></div>
{% endfor %}</div>
</div>
{% endblock %}
