{% extends 'base.html.twig' %}

{% block title %}Mes annonces{% endblock %}

{% block body %}
    <img src="{{ asset('img/mesAnnonces.jpg') }}" alt="Placeholder image">
    {% for annonce in listAnnonces %}
        <div class="column">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="{{ asset('imgAnnonce/first.JPG') }}" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">{{ annonce.titre }}</p>
                            <p class="subtitle is-6">{{ annonce.prix }} €</p>
                        </div>
                    </div>
                    <div class="content">
                        <a href="{{ path('app_annonce_show', {'idannonce': annonce.idannonce}) }}"><button type="button" class="button is-fullwidth is-primary is-light">En savoir plus</button></a>
                        <br>
                        <time datetime="2016-1-1">Annonce postée le {{ annonce.dateCreation|date("d/m/Y") }}</time>
                    </div>
                    {% if app.user == annonce.idutilisateurannonce %}
                    <div class="columns">
                        <div class="column">
                            <a class="button is-light is-primary" href="{{ path('app_annonce_edit', {'idannonce': annonce.idannonce}) }}"> Modifier l'annonce </a>
                        </div>
                        <div class="column">
                            <a href="{{ path('homepage') }}" style="color:black;"> Retour au menu </a>
                        </div>
                        <div class="column">
                            {% include('annonce/_delete_form.html.twig') %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        <br>
        </div>
    {% endfor %}
{% endblock %}
