{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}
{% block body %}
    {% include('./navBar.html.twig') %}
    <div class="container">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                <br>
                Bonjour {{ app.user.userIdentifier }} ! Vous êtes bien connectés sur PonyShop.
            </div>
        {% endif %}
        <br>

        <div class="columns">
            {# Colonne de gauche : Liste des annonces #}
            <div class="column is-half">
                    <h2 class="title is-4">Mes annonces</h2>
                    <div class="content">
                        {% if annonces is defined and annonces|length > 0 %}
                            <div class="list">
                                {% for annonce in annonces %}
                                    <div class="list-item box">
                                        <h3 class="title is-5">{{ annonce.titre }}</h3>
                                        <p>{{ annonce.description|slice(0, 100) }}...</p>
                                        <div class="buttons">
                                            <a href="{{ path('app_annonce_edit', {'id': annonce.id}) }}" class="button is-info is-small">Modifier</a>
                                            <a href="{{ path('app_annonce_delete', {'id': annonce.id}) }}" class="button is-danger is-small">Supprimer</a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <p>Vous n'avez pas encore d'annonces.</p>
                        {% endif %}
                    </div>
            </div>

            <div class="column is-half">
                    <h2 class="title is-4">Mes favoris</h2>
                    <div class="content">
                        {% if favoris is defined and favoris|length > 0 %}
                            <div class="list">
                                {% for fav in favoris %}
                                    <div class="list-item box">
                                        <a class="title is-5" href="{{ path('app_annonce_show', {'id': fav.annoncefav.id}) }}">{{ fav.annoncefav.titre }} - {{ fav.annoncefav.prix }} </a> <a href="{{ path('fav', {'id': fav.annoncefav.id  }) }}" class="js-like">
                                            {% if app.user and fav.annoncefav.isLikedByUser(app.user) %}
                                                <i class="fa-solid fa-heart js-like"></i>
                                            {% else %}
                                                <i class="fa-regular fa-heart js_like"></i>
                                            {% endif %}
                                        </a>
                                        <p>{{ fav.annoncefav.description|slice(0, 100) }}...</p>

                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <p>Vous n'avez pas encore de favoris.</p>
                        {% endif %}
                    </div>
                    <br>
                    <h2 class="title is-4">Modifier mon profil</h2>
                    {{ form_start(userEditForm) }}
                    {% for field in userEditForm %}
                        {% if field.vars.name != '_token' %}
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                {{ form_label(field, null, {'label_attr': {'class': 'label'}}) }}
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        {{ form_widget(field) }}
                                    </div>
                                    <p class="help is-danger">
                                        {{ form_errors(field) }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                    <br>
                    <div class="field is-horizontal">
                        <div class="field-label">
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <button type="submit" class="button buttonLight is-small">Modifier les informations</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form_end(userEditForm) }}
                </div>
            </div>

                <a class="italicType" href="{{ path('app_security_delete', {'id': app.user.id}) }}"> Supprimer mon compte</a>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
{% endblock %}