{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <img src="{{ asset('img/viewProfil.jpg') }}">
    <div class="container">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            <br>
           Bonjour {{ app.user.userIdentifier }} ! Vous êtes bien connectés sur Racehorse.
        </div>
    {% endif %}
<br>
        <div class="columns">
            <div class="column is-half">
                <a class="button is-primary is-large" href="{{ path('app_security_mes_annonces',{'idutilisateur': app.user.idutilisateur}) }}">Gérer mes annonces</a>
            </div>
            <div class="column">
                <a class="button is-primary is-large" href="{{ path('app_user_edit', {'idutilisateur': app.user.idutilisateur}) }}">Modifier mes informations de profil</a>
            </div>
        </div>
        <br>
        <br>
        <div class="columns">
            <div class="column is-half">
                <a class="button is-primary is-light" href="{{ path('app_security_logout') }}">Déconnexion</a>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="column">
                <a class="button is-danger" href="{{ path('app_security_delete', {'idutilisateur': app.user.idutilisateur}) }}">Supprimer mon compte</a>
            </div>

        </div>
            <br>
<br>
</div>
{% endblock %}