{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% include('./navBar.html.twig') %}
    <div class="containerLogin">
        <br>
        <form method="post" class="box" style="width: 90%; max-width: 600px; background-color: rgba(255, 255, 255, 0.9); padding: 30px; border-radius: 8px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);">
            <div class="columns is-centered">
                <div class="column is-half">
                    {{ form_start(registrationForm) }}
                    <div class="field">
                        {{ form_row(registrationForm.prenom, {'attr': {'class': 'input mb-4'}}) }}
                    </div>
                    <div class="field">
                        {{ form_row(registrationForm.nom, {'attr': {'class': 'input mb-4'}}) }}
                    </div>
                    <div class="field">
                        {{ form_row(registrationForm.login, {'attr': {'class': 'input mb-4'}}) }}
                    </div>
                </div>
                <div class="column is-half">
                    <div class="field">
                        {{ form_row(registrationForm.mail, {'attr': {'class': 'input mb-4'}}) }}
                    </div>
                    <div class="field">
                        {{ form_row(registrationForm.password, {'attr': {'class': 'input mb-4'}}) }}
                    </div>
                    <br>
                    <div class="field ml-4">
                        {{ form_row(registrationForm.save) }}
                    </div>
                    {{ form_rest(registrationForm) }}
                    {{ form_errors(registrationForm) }}
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </form>
    </div>
{% endblock %}