{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <img src="{{ asset('img/inscription.png') }}">
<form method="post">
<div class="container">
    <br>
        <form class="box">
            <div class="columns">
                <div class="column">
                    {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.prenom) }}
                    <br>
                    {{ form_row(registrationForm.nom) }}
                    <br>
                    {{ form_row(registrationForm.login) }}
                </div>
            <div class="column">
                    <br>
                    {{ form_row(registrationForm.mail) }}
                    <br>
                    {{ form_row(registrationForm.password) }}
                    <br>
                    {{ form_rest(registrationForm) }}
                    {{ form_errors(registrationForm) }}
                    {{ form_end(registrationForm) }}
            </div>
            </div>
        </form>
    </div>
</form>
{% endblock %}
