<div class="container is-widescreen">
    <br>
    <div class="columns">
        <div class="column">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Titre de l'annonce : </label>
                </div>
               <div class="field-body">
                    <div class="field">
                        <p class="control">
                            {{ form_start(form) }}
                            <input name="{{ field_name(form.titre) }}" placeholder="{{ field_label(form.titre) }}" class="input is-warning"/>
                        </p>
                    </div>
                </div>
            </div>
            </div>
        <div class="column">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Nom de l'équidé : </label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input name="{{ field_name(equide.nom) }}"  placeholder="Entrer le nom de votre équidé" class="input is-warning"/>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- date naissance, race et robe -->
    <div class="columns">
        <div class="column">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Naissance: </label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input class="input is-warning" name="{{ field_name(equide.dateNaissance) }}" type="date" placeholder="Warning input">
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Race : </label>
                </div>
                <div class="select is-warning">
                    <select>
                        {% for race in  listRaces %}
                            <option value="{{ race.id }}"> {{ race.libelle }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Robe : </label>
                </div>
                <div class="select is-warning">
                    <select>
                        {% for robe in  listRobes %}
                        <option value="{{ race.id }}"> {{ robe.libelle }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
    <!-- type de vente et taille -->
    <div class="columns">
        <div class="column">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Taille : </label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input class="input is-warning" name="{{ field_name(equide.taille) }}" type="text" placeholder="en cm au garrot">
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="control">
                <div class="field-label is-normal">
                    <label class="label">Type annonce : </label>
                </div>
                {% for typeAnnonce in  listTypeAnnonce %}

                <input type="radio" name="answer" value="{{ typeAnnonce.id }}">
                <label> {{ typeAnnonce.libelle }}</label>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Montant et lien HN -->
    <div class="columns">
        <div class="column">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Montant : </label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input class="input is-warning" name="{{ field_name(form.prix) }}" type="text" placeholder="En euros">
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Lien HN : </label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input class="input is-warning" name="{{ field_name(equide.lienhn) }}" type="text" placeholder="https://infochevaux.ifce.fr/fr/etc..">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Images et description -->
    <div class="columns">
        <div class="column">
            <div class="file is-warning is-boxed">
                <label class="file-label">
                    <input class="file-input" type="file" name="resume">
                    <span class="file-cta">
      <span class="file-icon">
        <i class="fas fa-cloud-upload-alt"></i>
      </span>
      <span class="file-label">
Télécharger une première image
      </span>
    </span>
                </label>
            </div>
        </div>
        <div class="column">
            <div class="file is-warning is-boxed">
                <label class="file-label">
                    <input class="file-input" type="file" name="resume">
                    <span class="file-cta">
      <span class="file-icon">
        <i class="fas fa-cloud-upload-alt"></i>
      </span>
      <span class="file-label">
Télécharger une deuxième image
      </span>
    </span>
                </label>
            </div>
        </div>
        <div class="column">
            <div class="file is-warning is-boxed">
                <label class="file-label">
                    <input class="file-input" type="file" name="resume">
                    <span class="file-cta">
      <span class="file-icon">
        <i class="fas fa-cloud-upload-alt"></i>
      </span>
      <span class="file-label">
Télécharger une troisième image
      </span>
    </span>
                </label>
            </div>
        </div>
    </div>
    <textarea class="textarea is-warning" name="{{ field_name(form.description) }}" placeholder="Description de l'annonce"></textarea>
    <br>
    <button type="submit" class="button is-warning">Publier l'annonce</button>
</div>
    {{ form_widget(form) }}
{{ form_end(form) }}

