<div class="container is-widescreen">
    <br>
    {{ form_start(form) }}
    {{ form_row(form.titre) }}
    {{ form_row(form.description) }}
    {{ form_row(form.prix) }}
    {{ form_row(form.idtypea) }}
    <button type="submit" class="button is-warning">Publier l'annonce</button>
</div>
{{ form_errors(form) }}
{{ form_end(form) }}

