<div class="container is-widescreen">
    <br>
    {{ form_start(annonceForm) }}
    {{ form_row(annonceForm.titre) }}
    {{ form_row(annonceForm.description) }}
    {{ form_row(annonceForm.prix) }}
    {{ form_row(annonceForm.idtypea) }}
    {{ form_row(annonceForm.idequidea.nom) }}

    <button type="submit" class="button is-warning">Publier l'annonce</button>
</div>
{{ form_errors(annonceForm) }}
{{ form_end(annonceForm) }}

