{% extends 'base.html.twig' %}

{% block title %}Annonces en ligne{% endblock %}

{% block body %}
    <img src="{{ asset('img/allAnnonces.png') }}">
<div class="container is-widescreen">
    <br>
    <br>
    <form id="filters">
        <h1>Veuillez sélectionner un type d'annonce :
            {% for typeAnnonce in listTypeAnnonces %}
            <input type="checkbox" name="listTypeAnnonces[]" id="typeAnnonce{{ typeAnnonce.idtypeannonce }}" value="{{ typeAnnonce.idtypeannonce }}">
            <label for="typeAnnonce{{ typeAnnonce.idtypeannonce }}">{{ typeAnnonce.libelle }} &emsp;</label>
            {% endfor %}</h1>
    </form>
    <br>
    <br>
    <div class="columns" id="content">
        {% for annonce in listAnnonces %}
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="{{ asset('imgAnnonce/first.JPG') }}" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">{{ annonce.titre }}</p>
                                <p class="subtitle is-6">{{ annonce.prix }} €</p>
                            </div>
                        </div>
                        <div class="content">
                            <a href="{{ path('app_annonce_show', {'idannonce': annonce.idannonce}) }}"><button type="button" class="button is-fullwidth is-warning is-light">En savoir plus</button></a>
                            <br>
                            <time datetime="2016-1-1">Annonce postée le {{ annonce.dateCreation|date("d/m/Y") }}</time>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}