{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur PonyShop{% endblock %}

{% block body %}
    <div class="containerIndex">
        <img src="{{ asset('img/bandeauIndex.png') }}">
        <a href="{{ path('app_annonce_new') }}">
            <button class="btnIndexVendre">Vendre</button>
        </a>
        <a href="{{ path('app_annonce_all_annonces') }}">
        <button class="btnIndexAcheter">Acheter</button>
        </a>
    </div>
    <div id="messagePrev">
        <article class="message is-danger">
            <div class="message-header">
                <p> Attention </p>
                <button class="delete" aria-label="delete" id="delete" onclick="closeMessage();"></button>
            </div>
            <div class="message-body">
                Prendre un animal reste une démarche importante qui doit être mûrement réfléchie : il faut leur donner du temps,
                de l'argent, des soins, de l'attention, de l'espace...
            </div>
        </article>
    </div>
<div class="container is-widescreen">
    <br>
    <h2 style="text-decoration: underline;">Poneys à vendre</h2>
    <br>
    <div class="columns">
        {% for annonce in annoncesVente %}
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            {# <img src="{{ asset('imgAnnonce/'~image.lienImage) }}" alt="Placeholder image"> #}
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">

                            <div class="media-content">
                                <p class="title is-4">{{ annonce.titre }}</p>
                                <p class="subtitle is-6">{{ annonce.prix }} €</p>
                                {% if app.user %}
                                    <span class="icon-text">
                                <span class="icon is-left">
                                    {# Si une table possède un tuple existant alors le coeur est plein et en cliquant dessus
                                    le user supprime le favori #}
                                    {# Sinon le coeur est vide et en cliquant dessus, le user ajoute un favori #}
                                    <a class="fa-regular fa-heart" onclick="postFavori({{ app.user.idutilisateur }},{{ annonce.idannonce }})"></a>

                                </span>
                                <span>Mettre en favori</span>
                                </span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="content">
                            <a href="{{ path('app_annonce_show', {'idannonce': annonce.idannonce}) }}"><button type="button" class="button is-fullwidth is-warning is-light">En savoir plus</button></a>
                            <br>
                            <time datetime="2016-1-1">Annonce postée le {{ annonce.dateCreation|date("d/m/Y") }}</time>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <a href="{{ path('app_annonce_show', {'idannonce': annonce.idannonce}) }}">show</a>
             <a href="{{ path('app_annonce_edit', {'idannonce': annonce.idannonce}) }}">edit</a> -->
        {% endfor %}
   <!-- <a href="{{ path('app_annonce_new') }}">Create new</a> -->
    </div>
    <a href="{{ path('show_by_type_annonce', {'idtypea': 1}) }}" style="color:hsl(48, 100%, 67%);margin-left:85%;font-style: italic;">Voir plus à vendre</a>
    <h2 style="text-decoration: underline;">Poneys à louer</h2>
    <br>
    <div class="columns">
        {% for annonce in annoncesLocation %}
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="{{ asset('imgAnnonce/DSC_9358.jpg') }}" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">

                            <div class="media-content">
                                <p class="title is-4">{{ annonce.titre }}</p>
                                <p class="subtitle is-6">{{ annonce.prix }} €</p>
                                {% if app.user %}
                                    <span class="icon-text">
                                <span class="icon is-left">
                                    {# Si une table possède un tuple existant alors le coeur est plein et en cliquant dessus
                                    le user supprime le favori #}
                                    {# Sinon le coeur est vide et en cliquant dessus, le user ajoute un favori #}
                                    <a class="fa-regular fa-heart" onclick="postFavori({{ app.user.idutilisateur }},{{ annonce.idannonce }})"></a>

                                </span>
                                <span>Mettre en favori</span>
                                </span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="content">
                            <a href="{{ path('app_annonce_show', {'idannonce': annonce.idannonce}) }}"><button type="button" class="button is-fullwidth is-warning is-light">En savoir plus</button></a>
                            <br>
                            <time datetime="2016-1-1">Annonce postée le {{ annonce.dateCreation|date("d/m/Y") }}</time>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <a href="{{ path('app_annonce_show', {'idannonce': annonce.idannonce}) }}">show</a>
            <a href="{{ path('app_annonce_edit', {'idannonce': annonce.idannonce}) }}">edit</a> -->
        {% endfor %}
        <!-- <a href="{{ path('app_annonce_new') }}">Create new</a> -->
    </div>
    <a href="{{ path('show_by_type_annonce', {'idtypea': 2}) }}" style="color:hsl(48, 100%, 67%);margin-left:85%;font-style: italic;">Voir plus à louer</a>
    <h2 style="text-decoration: underline;">Poneys à prendre en DP</h2>
    <br>
    <div class="columns">
        {% for annonce in annoncesDP %}
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="{{ asset('imgAnnonce/DSC_9358.jpg') }}" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">

                            <div class="media-content">
                                <p class="title is-4">{{ annonce.titre }}</p>
                                <p class="subtitle is-6">{{ annonce.prix }} €</p>
                                {% if app.user %}
                                    <span class="icon-text">
                                <span class="icon is-left">
                                    {# Si une table possède un tuple existant alors le coeur est plein et en cliquant dessus
                                    le user supprime le favori #}
                                    {# Sinon le coeur est vide et en cliquant dessus, le user ajoute un favori #}
                                    <a class="fa-regular fa-heart" onclick="postFavori({{ app.user.idutilisateur }},{{ annonce.idannonce }})"></a>

                                </span>
                                <span>Mettre en favori</span>
                                </span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="content">
                            <a href="{{ path('app_annonce_show', {'idannonce': annonce.idannonce}) }}"><button type="button" class="button is-fullwidth is-warning is-light">En savoir plus</button></a>
                            <br>
                            <time datetime="2016-1-1">Annonce postée le {{ annonce.dateCreation|date("d/m/Y") }}</time>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <a href="{{ path('app_annonce_show', {'idannonce': annonce.idannonce}) }}">show</a>
            <a href="{{ path('app_annonce_edit', {'idannonce': annonce.idannonce}) }}">edit</a> -->
        {% endfor %}
        <!-- <a href="{{ path('app_annonce_new') }}">Create new</a> -->
    </div>
    <a href="{{ path('show_by_type_annonce', {'idtypea': 3}) }}" style="color:hsl(48, 100%, 67%);margin-left:85%;font-style: italic;">Voir plus de DP</a>
</div>
{% endblock %}
