{% extends 'base.html.twig' %}

{% block title %}Annonce index{% endblock %}

{% block body %}
    <h1>Annonce index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idannonce</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Activation</th>
                <th>Datecreation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annonce in annonces %}
            <tr>
                <td>{{ annonce.idannonce }}</td>
                <td>{{ annonce.titre }}</td>
                <td>{{ annonce.description }}</td>
                <td>{{ annonce.prix }}</td>
                <td>{{ annonce.activation ? 'Yes' : 'No' }}</td>
                <td>{{ annonce.datecreation ? annonce.datecreation|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_annonce_show', {'idannonce': annonce.idannonce}) }}">show</a>
                    <a href="{{ path('app_annonce_edit', {'idannonce': annonce.idannonce}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_annonce_new') }}">Create new</a>
{% endblock %}
