{% extends 'base.html.twig' %}
{% block title %}Bienvenue sur Racehorse{% endblock %}

{% block body %}
    <div class="containerIndex">
        <img src="{{ asset('img/bandeauIndex.png') }}">
        <a href="{{ path('app_annonce_new') }}">
            <button class="btnIndexVendre">Vendre</button>
        </a>
        <a href="{{ path('app_annonce_all_annonces') }}">
        <button class="btnIndexAcheter">Acheter</button>
        </a>
    </div>
<div class="container is-widescreen">
    {% for message in app.session.flashBag.get('error') %}
        <div class="message is-danger">
            <div class="message-header">
                {{ message }}
            </div>
        </div>
    {% endfor %}
    <br>
    <h2 style="text-decoration: underline;">Chevaux de course à vendre</h2>
    <br>
    <div class="columns">
        {% for annonce in annoncesVente %}
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            {% if annonce.images is not empty %}
                                <img src="{{ asset(annonce.images.first.lienImage) }}" alt="Image">
                            {% else %}
                                <p>Aucune image disponible pour cette annonce.</p>
                            {% endif %}
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">

                            <div class="media-content">
                                <p class="title is-4">{{ annonce.titre }}</p>
                                <p class="subtitle is-6">{{ annonce.prix }} €</p>
                                {% if app.user %}
                                    <a href="{{ path('fav', {'idannonce': annonce.idannonce}) }}" class="button is-text js-like">
                                        {% if app.user and annonce.isLikedByUser(app.user) %}
                                        <i class="fa-solid fa-heart js-like"></i>
                                    <span>Enlever de mes favoris</span>
                                    {% else %}
                                        <i class="fa-regular fa-heart js_like"></i>
                                        <span>Ajouter à mes favoris</span>
                                        {% endif %}
                                    </a>

                                {% endif %}
                            </div>
                        </div>
                        <div class="content">
                            <a href="{{ path('app_annonce_show', {'idannonce': annonce.idannonce}) }}"><button type="button" class="button is-fullwidth is-primary is-light">En savoir plus</button></a>
                            <br>
                            <time datetime="2016-1-1">Annonce postée le {{ annonce.dateCreation|date("d/m/Y") }}</time>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <a href="{{ path('app_annonce_show_by_type_annonce', {'idtypea': 1}) }}" style="color:hsl(171, 100%, 29%);margin-left:85%;font-style: italic;">Voir plus à vendre</a>
    <h2 style="text-decoration: underline;">Chevaux à louer</h2>
    <br>
    <div class="columns">
        {% for annonce in annoncesLocation %}
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            {% if annonce.images is not empty %}
                                <img src="{{ asset(annonce.images.first.lienImage) }}" alt="Image">
                            {% else %}
                                <p>Aucune image disponible pour cette annonce.</p>
                            {% endif %}
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">{{ annonce.titre }}</p>
                                <p class="subtitle is-6">{{ annonce.prix }} €</p>
                                <a href="{{ path('fav', {'idannonce': annonce.idannonce}) }}" class="button is-text js-like">
                                    {% if app.user %}
                                    {% if app.user and annonce.isLikedByUser(app.user) %}
                                    <i class="fa-solid fa-heart js-like"></i>
                                    <span>Enlever de mes favoris</span>
                                    {% else %}
                                    <i class="fa-regular fa-heart js_like"></i>
                                    <span>Ajouter à mes favoris</span>
                                    {% endif %}
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                        <div class="content">
                            <a href="{{ path('app_annonce_show', {'idannonce': annonce.idannonce}) }}"><button type="button" class="button is-fullwidth is-primary is-light">En savoir plus</button></a>
                            <br>
                            <time datetime="2016-1-1">Annonce postée le {{ annonce.dateCreation|date("d/m/Y") }}</time>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <a href="{{ path('app_annonce_show_by_type_annonce', {'idtypea': 2}) }}" style="color:hsl(171, 100%, 29%);margin-left:85%;font-style: italic;">Voir plus à louer</a>
    <h2 style="text-decoration: underline;">Chevaux à prendre en DP</h2>
    <br>
    <div class="columns">
        {% for annonce in annoncesDP %}
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            {% if annonce.images is not empty %}
                            <img src="{{ asset(annonce.images.first.lienImage) }}" alt="Image">
                            {% else %}
                                <p>Aucune image disponible pour cette annonce.</p>
                            {% endif %}
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">

                            <div class="media-content">
                                <p class="title is-4">{{ annonce.titre }}</p>
                                <p class="subtitle is-6">{{ annonce.prix }} €</p>
                                {% if app.user %}
                                <a href="{{ path('fav', {'idannonce': annonce.idannonce}) }}" class="button is-text js-like">
                                    {% if app.user and annonce.isLikedByUser(app.user) %}
                                    <i class="fa-solid fa-heart js-like"></i>
                                    <span>Enlever de mes favoris</span>
                                    {% else %}
                                    <i class="fa-regular fa-heart js_like"></i>
                                    <span>Ajouter à mes favoris</span>
                                    {% endif %}
                                </a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="content">
                            <a href="{{ path('app_annonce_show', {'idannonce': annonce.idannonce}) }}"><button type="button" class="button is-fullwidth is-primary is-light">En savoir plus</button></a>
                            <br>
                            <time datetime="2016-1-1">Annonce postée le {{ annonce.dateCreation|date("d/m/Y") }}</time>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <a href="{{ path('app_annonce_show_by_type_annonce', {'idtypea': 3}) }}" style="color:hsl(171, 100%, 29%);margin-left:85%;font-style: italic;">Voir plus de DP</a>
</div>
    <script>
        function onClickBtnLike(event){
            event.preventDefault();

            const url = this.href;
            const spanCount = this.querySelector('span.js-likes');
            const icone = this.querySelector('i');
            axios.get(url).then(function (response){
              let favoris = response.data.favoris;
              if(icone.classList.contains('fa-regular')) {
                  icone.classList.replace('fa-regular', 'fa-solid');
              }
              else{
                  icone.classList.replace('fa-solid', 'fa-regular');
              }
            });
        }
        document.querySelectorAll('a.js-like').forEach(function (link){
            link.addEventListener('click',onClickBtnLike)

        })
    </script>
{% endblock %}
