{% extends 'base.html.twig' %}
{% block title %}Bienvenue sur Ponyshop{% endblock %}

{% block body %}
    <div class="containerIndex">
        <div class="headerIndex">
            <h1><span class="pony">Pony</span> &nbsp;<span class="shop">Shop</span></h1>
            <div class="user-links">
                {% if app.user %}
                    <a href="{{ path('app_security_viewprofil', {'id': app.user.id}) }}">
                        <i class="fa-solid fa-heart"></i> Favoris
                    </a>
                    <a href="{{ path('app_security_viewprofil') }}">
                        <i class="fa-regular fa-user"></i> {{ app.user.login }}
                    </a>
                {% else %}
                    <a href="{{ path('app_registration_register') }}">M'inscrire</a>
                    <a href="{{ path('app_login') }}">Me Connecter</a>
                {% endif %}
            </div>
        </div>
        <img src="{{ asset('img/bandeauIndex.png') }}">

        <a href="{{ path('app_annonce_new') }}">
            <button class="btnIndexVendre">Vendre un cheval</button>
        </a>
        <a href="{{ path('app_annonce_all_annonces') }}">
        <button class="btnIndexAcheter">Acheter un cheval</button>
        </a>
    </div>
<div class="container is-widescreen">
    {% for message in app.session.flashBag.get('error') %}
        <div class="message is-danger">
            <div class="message-header">
                {{ message }}
            </div>
        </div>
    {% endfor %}
    <br>
    <h2>Chevaux et poneys proposés à la vente</h2>
    <br>
    <div class="columns">
        {% for annonce in annoncesVente %}
            <div class="column">
                    <div class="card-image">
                        <figure class="image is-4by3 has-ratio">
                            {% if annonce.images is not empty %}
                                <img src="{{ asset(annonce.images.first.lienImage) }}" alt="Image" class="is-rounded">
                            {% else %}
                                <p>Aucune image disponible pour cette annonce.</p>
                            {% endif %}
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-6">{{ annonce.titre }}</p>
                                <p class="subtitle is-5">{{ annonce.prix }} €</p>
                                <br>
                                {% if app.user %}
                                    <a href="{{ path('fav', {'id': annonce.id}) }}" class="button is-text js-like">
                                        {% if app.user and annonce.isLikedByUser(app.user) %}
                                            <i class="fa-solid fa-heart js-like"></i>
                                        {% else %}
                                            <i class="fa-regular fa-heart js_like"></i>
                                        {% endif %}
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="content">
                            <a href="{{ path('app_annonce_show', {'id': annonce.id}) }}"><button type="button" class="button is-fullwidth buttonLight">En savoir plus</button></a>
                            <br>
                            <time datetime="2016-1-1" class="subtitle is-7">Annonce postée le {{ annonce.dateCreation|date("d/m/Y") }}</time>
                        </div>
                    </div>
            </div>
        {% endfor %}
    </div>
    <a href="{{ path('app_annonce_show_by_type', {'typeA': 1}) }}" class="italicType">Voir plus à vendre</a>
    <h2>Chevaux et poneys à la location </h2>
    <br>
    <div class="columns">
        {% for annonce in annoncesLocation %}
            <div class="column">
                    <div class="card-image">
                        <figure class="image is-4by3 has-ratio">
                            {% if annonce.images is not empty %}
                                <img src="{{ asset(annonce.images.first.lienImage) }}" alt="Image" class="is-rounded">
                            {% else %}
                                <p>Aucune image disponible pour cette annonce.</p>
                            {% endif %}
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-6">{{ annonce.titre }}</p>
                                <p class="subtitle is-5">{{ annonce.prix }} €</p>
                                <br>
                                {% if app.user %}
                                    <a href="{{ path('fav', {'id': annonce.id}) }}" class="button is-text js-like">
                                        {% if app.user and annonce.isLikedByUser(app.user) %}
                                            <i class="fa-solid fa-heart js-like"></i>
                                        {% else %}
                                            <i class="fa-regular fa-heart js-like"></i>
                                        {% endif %}
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="content">
                            <a href="{{ path('app_annonce_show', {'id': annonce.id}) }}"><button type="button" class="button is-fullwidth buttonLight">En savoir plus</button></a>
                            <br>
                            <time datetime="2016-1-1" class="subtitle is-7">Annonce postée le {{ annonce.dateCreation|date("d/m/Y") }}</time>
                        </div>
                    </div>
            </div>
        {% endfor %}
    </div>
    <a href="{{ path('app_annonce_show_by_type', {'typeA': 2}) }}" class="italicType">Voir plus à louer</a>
    <h2>Chevaux et poneys proposés en DP</h2>
    <br>
    <div class="columns">
        {% for annonce in annoncesDP %}
            <div class="column">
                    <div class="card-image">
                        <figure class="image is-4by3 has-ratio">
                            {% if annonce.images is not empty %}
                                <img src="{{ asset(annonce.images.first.lienImage) }}" alt="Image" class="is-rounded">
                            {% else %}
                                <p>Aucune image disponible pour cette annonce.</p>
                            {% endif %}
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-6">{{ annonce.titre }}</p>
                                <p class="subtitle is-5">{{ annonce.prix }} €</p>
                                <br>
                                {% if app.user %}
                                    <a href="{{ path('fav', {'id': annonce.id}) }}" class="button is-text js-like">
                                        {% if app.user and annonce.isLikedByUser(app.user) %}
                                            <i class="fa-solid fa-heart js-like"></i>
                                        {% else %}
                                            <i class="fa-regular fa-heart js_like"></i>
                                        {% endif %}
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="content">
                            <a href="{{ path('app_annonce_show', {'id': annonce.id}) }}"><button type="button" class="button is-fullwidth buttonLight">En savoir plus</button></a>
                            <br>
                            <time datetime="2016-1-1" class="subtitle is-7">Annonce postée le {{ annonce.dateCreation|date("d/m/Y") }}</time>
                        </div>
                    </div>
            </div>
        {% endfor %}
    </div>
    <a href="{{ path('app_annonce_show_by_type', {'typeA': 3}) }}" class="italicType">Voir plus de DP</a>
</div>
    <br>
    <script>
        function onClickBtnLike(event){
            event.preventDefault();

            const url = this.href;
            const spanCount = this.querySelector('span.js-likes');
            const icone = this.querySelector('i');
            axios.get(url).then(function (response){
              let favoris = response.data.favoris;
              if(icone.classList.contains('fa-regular')) {
                  icone.classList.replace('fa-regular', 'fa-solid');
              }
              else{
                  icone.classList.replace('fa-solid', 'fa-regular');
              }
            });
        }
        document.querySelectorAll('a.js-like').forEach(function (link){
            link.addEventListener('click',onClickBtnLike)

        })
    </script>
{% endblock %}
