{% extends 'base.html.twig' %}

{% block title %}Annonces {% endblock %}

{% block body %}
    {% include('./navBar.html.twig') %}
    <div class="container is-widescreen">
        <br>
        <h1> Chevaux disponibles </h1>
        <br>
         <div class="columns">
     {% for annonce in listAnnonces %}
     <div class="column">
         <div class="card">
             <div class="card-image">
                 <figure class="image is-4by3">
                     {% if annonce.images is not empty %}
                         <img src="{{ asset(annonce.images.first.lienImage) }}" alt="Image">
                     {% else %}
                         <p>Aucune image disponible pour cette annonce.</p>
                     {% endif %}
                 </figure>
             </div>
             <div class="card-content">
                 <div class="media">
                     <div class="media-content">
                         <p class="title is-4">{{ annonce.titre }}</p>
                         <p class="subtitle is-6">{{ annonce.prix }} €</p>
                         <a href="{{ path('fav', {'id': annonce.id}) }}" class="js-like">
                             {% if app.user and annonce.isLikedByUser(app.user) %}
                             <i class="fa-solid fa-heart js-like"></i>
                             {% else %}
                             <i class="fa-regular fa-heart js-like"></i>
                             {% endif %}
                         </a>

                     </div>
                 </div>
                 <div class="content">
                     <a href="{{ path('app_annonce_show', {'id': annonce.id}) }}"><button type="button" class="button is-fullwidth is-primary is-light">En savoir plus</button></a>
                     <br>
                     <time datetime="2016-1-1">Annonce postée le {{ annonce.dateCreation|date("d/m/Y") }}</time>
                 </div>
             </div>
         </div>
     </div>
     {% endfor %}</div>
        <br>
     <a href="{{ path('homepage') }}" style="color:black;"> Retour au menu </a>

    </div>
    <script>
        function onClickBtnLike(event){
            event.preventDefault();

            const url = this.href;
            const spanCount = this.querySelector('span.js-likes');
            const icone = this.querySelector('i');
            axios.get(url).then(function (response){
                let favoris = response.data.favoris;
                if(icone.classList.contains('fa-regular')) {
                    icone.classList.replace('fa-regular', 'fa-solid');
                }
                else{
                    icone.classList.replace('fa-solid', 'fa-regular');
                }
            });
        }
        document.querySelectorAll('a.js-like').forEach(function (link){
            link.addEventListener('click',onClickBtnLike)

        })
    </script>
{% endblock %}
