{% extends 'base.html.twig' %}

{% block title %}Annonce{% endblock %}

{% block body %}
 <div class="container is-full-widescreen">
     {% for annonce in listAnnonces %}
     <div class="column">
         <div class="card">
             <div class="card-image">
                 <figure class="image is-4by3">
                     <img src="{{ asset('imgAnnonce/DSC_9358.jpg') }}" alt="Placeholder image">
                 </figure>
             </div>
             <div class="card-content">
                 <div class="media">
                     <div class="media-content">
                         <p class="title is-4">{{ annonce.titre }}</p>
                         <p class="subtitle is-6">{{ annonce.prix }} €</p>
                         {% if app.user %}
                             <span class="icon-text">
                                <span class="icon is-left">
                                    {# Si une table possède un tuple existant alors le coeur est plein et en cliquant dessus
                                    le user supprime le favori #}
                                    {# Sinon le coeur est vide et en cliquant dessus, le user ajoute un favori #}
                                    <a class="fa-regular fa-heart" onclick="postFavori({{ app.user.idutilisateur }},{{ annonce.idannonce }})"></a>

                                </span>
                                <span>Mettre en favori</span>
                                </span>
                         {% endif %}
                     </div>
                 </div>
                 <div class="content">
                     <a href="{{ path('app_annonce_show', {'idannonce': annonce.idannonce}) }}"><button type="button" class="button is-fullwidth is-warning is-light">En savoir plus</button></a>
                     <br>
                     <time datetime="2016-1-1">Annonce postée le {{ annonce.dateCreation|date("d/m/Y") }}</time>
                 </div>
             </div>
         </div>
     </div>
     {% endfor %}
     <a href="{{ path('homepage') }}">Retour au menu</a>
 </div>
{% endblock %}
