{% extends 'base.html.twig' %}

{% block title %}Annonce{% endblock %}

{% block body %}
<div class="container">
    <br>
    <div class="columns">
        <div class="column is-half">
            <div class="box has-background-primary-light">
                {% for image in annonce.images %}
                <img src="{{ asset(image.lienImage) }}" alt="Placeholder image">
                {% endfor %}
            </div>
            </div>
        <div class="column">
            <!-- nom equide -->
            <div class="column">
                <h4>{{ annonce.titre }} - {{ annonce.prix }} € </h4>
            </div>
                <h3>Nom de l'équidé : </h3> {{ annonce.equide.nom }}
                <h3>Date de naissance : </h3> {{ annonce.equide.dateNaiss|date("d/m/Y") }}
                <h3>Taille : </h3> {{ annonce.equide.taille }} cm
                <h3>Race : </h3> {{ annonce.equide.race.libelle }}
                <h3>Robe :  </h3>{{ annonce.equide.robe.libelle }}
                <h3>Infos Haras Nationaux : <a href="{{ annonce.equide.lienhn }}">Voir infos</a></h3>
                <h3>Lieu : </h3> {{ annonce.equide.dep.libelle }} en {{ annonce.equide.dep.regiondep.libelle }}
            <br>
                <br>
                Annonce postée par {{ annonce.utilisateurannonce.login }}.

            <br>
            <p><h3>Description : </h3>{{ annonce.description }}</p>
            <br>
            <a class="button is-primary" style='margin-left: 30px' href="{{ path('app_chat_new') }}"> <i class="fa-regular fa-message"> </i> &nbsp Contacter le propriétaire </a>
        </div>
    </div>
</div>
    {% if app.user == annonce.utilisateurannonce %}
        <div class="columns">
            <div class="column">

                <a class="button is-light is-primary" style='margin-left: 30px' href="{{ path('app_annonce_edit', {'id': annonce.id}) }}"> Modifier l'annonce </a>
            </div>
            <div class="column">
                <a href="{{ path('homepage') }}" style="color:black;"> Retour au menu </a>
            </div>
            <div class="column">
             {% include('annonce/_delete_form.html.twig') %}
            </div>
        </div>
        <br>
    {% endif %}
</div>
{% endblock %}
