{% extends 'base.html.twig' %}

{% block title %}Annonce{% endblock %}

{% block body %}
<div class="container">
    <br>
    <div class="columns">
        <div class="column is-half">
            <div class="box has-background-warning-light">
                <img src="{{ asset('imgAnnonce/DSC_9358.jpg') }}" alt="Placeholder image">
            </div>
            </div>
        <div class="column">
            <!-- nom equide -->
            <h2>{{ annonce.titre }}</h2>
            <h3>{{ annonce.prix }} € </h3>

            <h3>{{ equide.nom }} </h3>
        <br>
            <h1>{{ annonce.description }}</h1>
            <br>
        </div>
    </div>
</div>
    <a href="{{ path('app_annonce_index') }}">Retour au menu</a>

    <!-- include('annonce/_delete_form.html.twig') -->
{% endblock %}
