{% extends 'base.html.twig' %}

{% block title %}Annonce{% endblock %}

{% block body %}
    {% include('./navBar.html.twig') %}
    <div class="container my-6">
        <div class="columns is-variable is-8">
            {# Colonne de gauche avec images #}
            <div class="column is-half">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        {% for image in annonce.images %}
                            <div class="swiper-slide">
                                <figure class="image is-4by3">
                                    <img src="{{ asset(image.lienImage) }}" alt="Photo de {{ annonce.equide.nom }}">
                                </figure>
                            </div>
                        {% endfor %}
                    </div>

                    <!-- Pagination (optionnel) -->
                    <div class="swiper-pagination"></div>

                    <!-- Navigation (optionnel) -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>


            {# Colonne de droite avec infos #}
            <div class="column">
                <div class="content">
                    <div class="is-flex is-align-items-center">
                        <h1 class="title is-4 mb-2 mr-6">{{ annonce.titre }}</h1>
                        {% if app.user == annonce.utilisateurannonce %}
                            <div class="is-flex is-align-items-center">
                                <a href="{{ path('app_annonce_edit', {'id': annonce.id}) }}" class="buttonLight is-small mr-4">
                                    <i class="fas fa-edit"></i>
                                </a>
                                {% include('annonce/_delete_form.html.twig') %}
                            </div>
                        {% endif %}
                    </div>
                    <p class="title price is-3 mb-6 has-text-right">{{ annonce.prix }} €</p>

                        <table class="custom-table">
                            <tr>
                                <th>Nom de l'équidé</th>
                                <td>{{ annonce.equide.nom }}
                                    <a href="{{ annonce.equide.lienhn }}" class="button is-small is-info is-light mb-3">
                    <span class="icon">
                        <i class="fas fa-external-link-alt"></i>
                    </span>
                                        <span>Infos Haras Nationaux</span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th>Date de naissance</th>
                                <td>{{ annonce.equide.dateNaiss|date("d/m/Y") }}</td>
                            </tr>
                            <tr>
                                <th>Taille</th>
                                <td>{{ annonce.equide.taille }} cm</td>
                            </tr>
                            <tr>
                                <th>Race</th>
                                <td>{{ annonce.equide.race.libelle }}</td>
                            </tr>
                            <tr>
                                <th>Robe</th>
                                <td>{{ annonce.equide.robe.libelle }}</td>
                            </tr>
                            <tr>
                                <th>Localisation</th>
                                <td>{{ annonce.equide.dep.libelle }} en {{ annonce.equide.dep.regiondep.libelle }}</td>
                            </tr>
                            <tr>
                                <th>Posté par</th>
                                <td>{{ annonce.utilisateurannonce.login }}</td>
                            </tr>
                        </table>
                    <div class="buttons">
                        <a class="button is-rounded" href="{{ path('contactVendeur', {'id': annonce.id}) }}">
                        <span class="icon">
                            <i class="fa-regular fa-message"></i>
                        </span>
                            <span>Contacter le propriétaire</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}