{% block body %}
    <img src="{{ asset('img/contact.png') }}">
    <div class="container is-widescreen">
        {{ form_start(form) }}
            <br>
                    {{ form_row(form.objet) }}
            <br>
                    {{ form_row(form.description) }}
            {{ form_row(form._token) }}
            <br>
        <br>
        {{ form_rest(form) }}
        {{ form_errors(form) }}
        {{ form_end(form) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
