{% extends 'base.html.twig' %}

{% block title %}Chat{% endblock %}

{% block body %}
    <h1>Chat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chat.id }}</td>
            </tr>
            <tr>
                <th>Datecreation</th>
                <td>{{ chat.datecreation ? chat.datecreation|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_chat_index') }}">back to list</a>

    <a href="{{ path('app_chat_edit', {'id': chat.id}) }}">edit</a>

    {{ include('chat/_delete_form.html.twig') }}
{% endblock %}
