{% block body %}
<div class="container is-widescreen" xmlns="http://www.w3.org/1999/html">
    <br>
    {{ form_start(form) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.datenaiss) }}
    {{ form_row(form.robe) }}
    {{ form_row(form.race) }}
    {{ form_row(form.taille) }}
    {{ form_row(form.lienhn) }}
    {{ form_row(form.idtypeeq) }}
    {{ form_row(form.iddep) }}
    <br>
    <button type="submit" class="button is-warning">Valider les informations de l'équidé</button>
    {{ form_end(form) }}
</div>
{% endblock %}