<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="/img/logo1.png" type="image/png"/>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link href={{ asset('style.css') }} type="text/css" rel="stylesheet">
        {% endblock %}

        {% block javascripts %}
            <script src="https://kit.fontawesome.com/4649941f6a.js" crossorigin="anonymous"></script>
            <script src="script.js"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <nav class="navbar is-warning" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ asset('/') }}">
                <img src="/img/logo.png">
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>


        {% if app.user %}
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="column is-two-thirds"><a href="{{ path('security/mes_favoris',{'idutilisateur': app.user.idutilisateur}) }}" ><strong>Mes favoris</strong></a></div>
                    <div class="column is-one-fifth"><a href="{{ path('security/app_viewProfil') }}">{{  app.user.login }}</a>
                </div>
                </div>
                </div>
            </div>

        {%else %}
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-warning is-light" href="{{ path('security/app_register') }}" >
                        <strong>M'inscrire</strong>
                    </a>
                    <a class="button is-light" href="{{ path('app_login') }}" >
                        Me Connecter
                    </a>
                </div>
            </div>
        </div>
        {%endif %}
        </div>
    </nav>
    <body>
        {% block body %}
        {% endblock %}
    </body>
    <footer class="footer" style="font-family:'Montserrat';background-color:hsl(47,87%,74%);">
        <div class="content has-text-centered">
            <div class="columns">
                <div class="column">
                    <a href="{{ asset('ml') }}" style="color:black; "> Mentions légales </a>
                </div>
                <div class="column">
                    <a href="{{ asset('howItWorks') }}" style="color:black; "> Comment ça marche ? </a>
                </div>
                <div class="column">
                    <a href="{{ asset('about') }}" style="color:black; "> A propos de Ponyshop </a>
                </div>
                <div class="column">
                    <a href="{{ path('security/app_register') }}" style="color:black; "> M'inscrire </a>
                </div>
                <div class="column">
                    <a href="{{ path('app_login') }}" style="color:black; "> Me connecter </a>
                </div>
                <div class="column">
                    <a href="{{ path('app_requete_new') }}" style="color:black; ">Contact </a>
                </div>
            </div>
        </div>
    </footer>
</html>
