<nav class="navbar custom-navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item titleNav" href="{{ asset('/') }}">
            <img src="/img/logo1.png" type="image/png"/>
            Pony Shop
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navBarLogged" class="navbar-menu">

        <div class="navbar-end">
            <div class="navbar-item user-links-black">
                    {% if app.user %}
                        <a href="{{ path('app_security_viewprofil', {'id': app.user.id}) }}" class="navbar-item">
                            <i class="fa-regular fa-heart"></i><span class="ml-2">Favoris</span>
                        </a>
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                                <i class="fa-regular fa-user"></i> <span class="ml-2"> {{ app.user.login }} </span>
                            </a>

                            <div class="navbar-dropdown">
                                <a href="{{ path('app_security_viewprofil') }}" class="navbar-item">
                                    <i class="fa-solid fa-gear"></i> <span class="ml-2">Mon profil</span>
                                </a>
                <hr class="navbar-divider">
                <a href="{{ path('app_security_logout') }}" class="navbar-item">
                    <i class="fa-solid fa-right-from-bracket"></i> <span class="ml-2">Déconnexion</span>
                </a>
            </div>
        </div>
                    {% else %}
                        <a href="{{ path('app_registration_register') }}">M'inscrire</a>
                        <a href="{{ path('app_login') }}">Me Connecter</a>
                    {% endif %}
            </div>
        </div>
    </div>
</nav>