{% extends 'base.html.twig' %}

{% block title %}Favoris index{% endblock %}

{% block body %}
    <h1>Favoris index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idutilisateurfav</th>
                <th>Idannoncefav</th>
                <th>Datecreation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for favori in favoris %}
            <tr>
                <td>{{ favori.idutilisateurfav }}</td>
                <td>{{ favori.idannoncefav }}</td>
                <td>{{ favori.datecreation ? favori.datecreation|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_favoris_show', {'idutilisateurfav': favori.idutilisateurfav}) }}">show</a>
                    <a href="{{ path('app_favoris_edit', {'idutilisateurfav': favori.idutilisateurfav}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_favoris_new') }}">Create new</a>
{% endblock %}
