{% extends 'base.html.twig' %}

{% block title %}Favoris{% endblock %}

{% block body %}
    <h1>Favoris</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idutilisateurfav</th>
                <td>{{ favori.idutilisateurfav }}</td>
            </tr>
            <tr>
                <th>Idannoncefav</th>
                <td>{{ favori.idannoncefav }}</td>
            </tr>
            <tr>
                <th>Datecreation</th>
                <td>{{ favori.datecreation ? favori.datecreation|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_favoris_index') }}">back to list</a>

    <a href="{{ path('app_favoris_edit', {'idutilisateurfav': favori.idutilisateurfav}) }}">edit</a>

    {{ include('favoris/_delete_form.html.twig') }}
{% endblock %}
